.page-title{
  text-align: center;
  font-weight:bold;
}

.addr-info{
    display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
}

.contact-info{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
}
