.contact-info{ 
  text-align:  center;
  line-height: 10px;
}

.container {
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;

	padding: 10px 150px 10px 150px;

	border-radius: 10px;
	background-image: url(https://i.stack.imgur.com/pMAiU.jpg);

	text-align: left;
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
  color: #000000;
}

.underline {
  text-decoration: underline
}

.date {
	float: right;
}

.italics {
  font-style: italic;
}

.group-headers{
    font-size: 30px;
    font-weight: bolder;
  text-decoration: underline;
}

p {
  font-size: 15px;
}

.employer{
  font-size: 25px;
  font-weight: bolder;
}

.header{
  font-size: 56px;
  text-align: center;
  font-weight: bolder;
}

